<ion-view view-title="Coordinet" name="chat" class="light-grey">
<div id="chatbox">
  <div ng-show="chatCtrl.connected">
    <div class="log pad2"></div>
      </div>
 <div id="information">
 <p><b>
  There are <span class= "number"> {{ vm.users.all.length }} </span>online right now.
</b></p>
<h3 class="animated zoomIn"><strong>Whats going on around you?</strong></h3>
<div id="messages"  class="animated slideInRight" ng-repeat="user in vm.users.seed track by user.id">
    {{user.name}} says: "{{user.message}}""
</div>
<div id="messages"  class="animated slideInRight" ng-repeat="user in vm.users.all track by user.id">
    {{user.name}} says: "{{user.message}}"
</div>
 </div>
      </div>
        <div class="list light-grey bottommsg">
          <div class="item item-input-inset light-grey">
            <label  class="item-input-wrapper line-light-grey nopadtop">
              <input class="line-light-grey" ng-change="chatCtrl.updateTyping()" type="text"  placeholder="Messaging coming soon!" ng-enter="chatCtrl.sendMessage()" ng-model="chatCtrl.message">
            </label>
              <div class="divsend">
                  <button class="button button-clear ion-android-send iconsend" ng-click="chatCtrl.sendMessage()"></button>
              </div>
            </div>
        </div>
  <multiple-views-support height="40%" />
</ion-view>
