<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset light top180">
          <label class="item item-input linegrey">
            <input type="text" class="linegrey white" placeholder="Username" ng-model="vm.users.current.name">
          </label>
        <ion-radio ng-model="vm.users.current.icon" ng-value="'../img/info.png'"><span class ="icon">Info : <img src="../img/info.png" height="50" width="50"></span></ion-radio>
        <ion-radio ng-model="vm.users.current.icon" ng-value="'../img/cabs.png'"><span class ="icon">I need an Uber! : <img src="../img/cabs.png" height="50" width="50"></span></ion-radio>
        <ion-radio ng-model="vm.users.current.icon" ng-value="'../img/caution.png'"><span class ="icon">Warning : <img src="../img/caution.png" height="50" width="50"></span></ion-radio>
        <ion-radio ng-model="vm.users.current.icon" ng-value="'../img/info_circle.png'"><span class ="icon">Point of Interest : <img src="../img/info_circle.png" height="50" width="50"></span></ion-radio>
      </div>
    <button class="button button-block button-grey" ng-click="vm.loadUser()">Login</button>
  </ion-content>
</ion-view>

